# Miscellaneous
*.class
*.lock
*.log
*.swp
.DS_Store
.vscode/
.idea/
.metadata
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Android
.gradle/
/build
/android/app/debug
/android/app/profile
/android/app/release
/android/app/build

# iOS
.generated
/ios/Flutter/.last_build_id
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/Flutter.framework/
/ios/Flutter/Flutter.podspec
/ios/ServiceDefinitions.json
/ios/Pods/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.ios/
.android/
build/
.pub/
